body {
    background-color: rgb(19, 150, 236);
    color: #595241;
    font-family: Verdana;
}

.container {
    min-width: 600px;
    margin: 10px;
}

.scoresContainer {
    padding-bottom: 10px;
}

.snakeContainer {
    margin: auto;
    width: 600px;
}

.row {
    height: 25px;
}

.column {
    border: 1px solid #97b9b6;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.immortalMode{
    font-weight: bold;
    color:#7f203B;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: green;
  }