<div class="snakeContainer" class="row">
    <h1>Snake game</h1>
    <div class="scoresContainer">
        <div class="best-container">Best score: {{game.highScore}}</div>
        <div class="score-container">Score: {{game.currentScore}}</div>
        <div class="immortal-timer" ng-show="game.timeout > 0">Immortal mode expires in <span class="immortalMode">{{game.timeout}}</span> sec</div>
        <div class="slidecontainer">
            <div>Snake speed: {{game.interval}}</div>
            <input type="range" ng-model="game.interval" min="100" max="300" value="200" class="slider" id="myRange">
        </div>
        <div class="immortal-hint" ng-show="!game.immortal">Try to type <span class="immortalMode">GO</span></div>
    </div>
    <div>
        <button class="button" ng-click ="startNewGame()">Start new game</button>
        <h1 class="popup" ng-show="game.gameOver">Game Over</h1>
    </div>
    <div>
        <div class="row" ng-repeat="column in board">
            <div ng-repeat="row in column track by $index"
                 class="column"
                 ng-style="{'background-color':getColor($index, $parent.$index)}">
            </div>
        </div>
    </div>
    
</div>